body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
}

header {
    background-color: #333;
    padding: 1rem;
}

main {
    padding: 2rem;
}

.app-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.app-icons a img {
    width: 50px;
    transition: transform 0.3s;
}

.app-icons a img:hover {
    transform: scale(1.1);
}
